/*GENERAL*/
body {
    padding-top: 6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*HEADER + MENU*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    background: #daf4ed;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 10px rgb(155, 155, 155);
}
.logo {
    display: flex;
    align-items: center;
}
.logo a {
    text-decoration: none;
}
.logo h1 {
    font-size: 28px;
    font-weight: 700;
    color: #2e5f4f;
    letter-spacing: 1px;
    transition: 0.3s ease;
    font-family: "Stack Sans Notch", sans-serif;
}
.logo h1:hover {
    color: #3b7a67;
}
nav {
    display: flex;
    gap: 25px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #0f6c59;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: #198f78; 
}
/*CARRITO + REGISTRO*/
.register a {
    text-decoration: none;
    padding: 8px 15px;
    background: #198f78;    
    color: white;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}

.register a:hover {
    background: #0f6c59;
}
.acciones {
    display: flex;
    align-items: center;
    gap: 15px;
}

.carrito img {
    width: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.carrito img:hover {
    transform: scale(1.15);
}
/*Contenedor que los tiene almacenados como tarjetas*/
.sobre-nosotros {
    background-color: #f0f9f7;
    padding: 4rem 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.sobre-container {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    gap: 1.5rem;
    max-width: 90%;
}
/*El estilo general de cartas*/
.sobre-card {
    background-color: #ffffff;
    width: 100%;
    max-width: 300px;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 0.375rem 0.9375rem rgba(0,0,0,0.10);
    text-align: center;
    border-top: 0.25rem solid #198f78;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-shrink: 0;
}

.sobre-card:hover {
    transform: translateY(-0.3rem); /*La tarjeta sube*/
    box-shadow: 0 0.5rem 1.25rem rgba(0,0,0,0.15);
}

.sobre-card h3 {
    font-size: 1.375rem;
    color: #056d61;
    margin-bottom: 0.9rem;
    font-weight: 700;
}

.sobre-card p {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 1.2rem 0;
    background-color: #f1f1f1;
}

footer p {
    margin-bottom: 0.8rem;
    font-size: 0.875rem;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap; 
}

.footer-logo {
    width: 6rem;  
}

.icon {
    width: 2rem; 
    height: auto;
    margin: 0 0.3rem;
}
