/*GENERAL*/
body {
    padding-top: 90px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Open Sans', sans-serif;
    background: #ffffff;
}

/*HEADER*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #daf4ed;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(155,155,155,0.8);
}

.logo h1 {
    font-size: 28px;
    font-weight: 700;
    color: #2e5f4f;
    letter-spacing: 1px;
    transition: 0.3s;
    font-family: "Stack Sans Notch", sans-serif;
}
.logo a {
    text-decoration: none;
}
.logo h1:hover {
    color: #3b7a67;
}

nav {
    display: flex;
    gap: 25px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #0f6c59;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: #198f78;
}
/*CARRITO + REGISTRO*/
.acciones {
    display: flex;
    align-items: center;
    gap: 15px;
}

.carrito img {
    width: 30px;
    cursor: pointer;
    transition: 0.3s;
}
.carrito img:hover {
    transform: scale(1.15);
}

.register a {
    text-decoration: none;
    padding: 8px 15px;
    background: #198f78;
    color: white;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}

.register a:hover {
    background: #0f6c59;
}


/* LOGIN */
section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 140px;
    padding-bottom: 90px;
}

#login-form {
    width: 350px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgb(117, 117, 117); /*la sombra gris está justo debajo del elemento, baja un poquito y se ve suave*/
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: center;
}

#login-form input {
    width: 100%;
    box-sizing: border-box; 
    padding: 12px 14px;
    border: 2px solid #cde7e2;
    border-radius: 8px;
    font-size: 16px;
    outline: none; /* Quita el borde azul de enfoque por defecto */
    transition: 0.3s; /* Animación suave al cambiar estilos*/
}
/*Ocurre cuando uno lo presiona*/
#login-form input:focus {
    border-color: #198f78; /* Cambia el borde a verde al hacer click o tab */
}

#login-form button {
    width: 100%;
    padding: 12px;
    background-color: #198f78;
    color: white;
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#login-form button:hover {
    background-color: #0f6c59;
}

/*LINKS DEL FORMULARIO*/
#login-form a {
    font-size: 15px;
    color: #198f78;
    font-weight: 600;
    text-decoration: none;
}

#login-form a:hover {
    color: #0f6c59;
}


/*FOOTER*/
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f1f1f1;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-logo {
    width: 100px;
}

.icon {
    width: 30px;
    height: auto;
}


/* --------------------- RESPONSIVE --------------------- */
@media (max-width: 600px) {

    header {
        padding: 10px 15px;
        flex-wrap: wrap;
        gap: 10px;
    }

    nav {
        gap: 12px;
        font-size: 14px;
    }

    .logo h1 {
        font-size: 22px;
    }

    .carrito img {
        width: 25px;
    }

    .register a {
        padding: 6px 12px;
        font-size: 14px;
    }

    section {
        margin-top: 120px;
        padding: 10px;
    }

    #login-form {
        padding: 25px;
        max-width: 300px;
    }

    .footer-content {
        flex-direction: column;
    }
}
